.nav-link {
    color: black;
    font-weight: bold;
    font-size: 20px;

}

.card a {

 text-decoration: none;
 color: black;
 font-size: 20px;
 display: flex;
 justify-content: right;
 width: 100%;
}



#logo {
    font-size: 30px;
    position: relative;
    top: 50px;
    left: 15px;
    text-decoration: none;
}

.display-4 {
    color: white;
    font-weight: bold;

}

#heroIntroText {
    color: white;
    display: flex;
    justify-content: left;
    font-size: 100px;
}

#heroIntroButton {
    background-color: blueviolet;
    color: white;
    margin-left: 10px;

}

.card {

    box-shadow: 3px 0 0 0px whitesmoke;

}

.jumbotron {


    box-shadow: 8px 0 8px 0px blueviolet;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    background-size: cover;


}

#membershipFormButton {

background-color: blueviolet;
color: white;
font-weight: bold;
border: none;
padding-top: 11px;
padding-bottom: 20px;
height: 45px;

}


#membershipHeader {

margin-left: 313px;
margin-top: 50px;
}

#techSupportPic {
float: right;
position: relative;
top: -150px;

}

.form-select {

    width: 15%;
}

#evidence {
    width: 50%;
    height: 20rem;
}

#heroTech {

    background-color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
    background-image: url("https://images.unsplash.com/photo-1497493292307-31c376b6e479?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8dGVjaCUyMHN1cHBvcnR8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=700&q=10");
    height: 30rem;
    background-size: cover;
    background-repeat: no-repeat;

}

#heroTitle {

   color: white;
   font-size: 150px;
   display: flex;
   justify-content: center;
   align-content: center;
   position: relative;
   top: 100px;


}

#heroTitleOrders {

   color: white;
   font-size: 150px;
   display: flex;
   justify-content: center;
   align-content: center;
   position: relative;
   top: 100px;


}

#heroOrders {

    background-color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
    background-image: url("https://images.unsplash.com/photo-1576867757603-05b134ebc379?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8YnVmZmV0fGVufDB8fDB8fHww&auto=format&fit=crop&w=700&q=100");
    height: 35rem;
    background-size: cover;
    background-repeat: no-repeat;

}

#introHero {

    background-color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
    background-image: url("https://images.unsplash.com/photo-1567344782667-5390f69c40c6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8bmV3JTIweW9yayUyMGNpdHklMjBhdCUyMG5pZ2h0fGVufDB8fDB8fHww&auto=format&fit=crop&w=800&q=100");
    height: 35rem;
    background-size: cover;
    background-repeat: no-repeat;

}

#issueForm {

    margin-top: 100px;
}

#supportingFiles {
    margin-top: 20px;
}

#submitTechTicket {
    background-color: blueviolet;
    color: white;
    font-weight: bold;
    border: none;
}

.selectionButton {
  background-color: whitesmoke;
  border-radius: 5px;
  font-size: 20px;
  padding: 5px 15px 5px 15px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  display: flex;
  width: 200px;
  margin-bottom: 20px;

}

.beverageCards {
list-style: none;
display: flex;
justify-content: center;
align-items: center;

}

.cardBeverages {

border-radius: 2px;
box-shadow: 0 2px 0 0px whitesmoke;
margin-right: 20px;
filter: brightness(70%);

}

.cardBeverages:hover {
filter: brightness(100%);

}

.beveragePriceLabel {

background-color: whitesmoke;
color: black;
font-weight: bold;
display: flex;
position: relative;
top: 32px;
width: 55px;
margin-left: 10px;
padding-left: 5px;
padding-right: 5px;
border-radius: 3px;

}

.moreCoffeeTeaLink {

text-decoration: none;
font-size: 18px;
display: flex;
justify-content: right;
align-items: right;

}

#mealDealz {

display: flex;
flex-direction: column;

}

#foodSearch {

display: flex;
justify-content: center;
align-items: center;
gap: 10px;
margin-top: 35px;
margin-bottom: 35px;
background-color: whitesmoke;


}

#homeSearch {
display: flex;
justify-content: center;
align-items: center;
position: relative;
top: 200px;


}

#homeSearch input {
border: 1px solid white;
width: 300px;
color: white;
background-color: transparent;
height: 3rem;
border-radius: 5px;
}

::placeholder {

color: white;
text-align: center;
font-weight: bold;

}

.search-outline {
background-color: white;
height: 30px;
width: 50px;
}



.beverageMenuModal-content {
width: 100%;

}


.beverageMenuCard {

width: 100%;
background-color: whitesmoke;
border-radius: 10px;

}



.b1-label {

font-size: 28px;
}

#addToCartB1 {

display: flex;
justify-content: center;
align-content: center;
position: relative;
left: 120px;
width: 40%;
color: white;
font-weight: bold;

}

.memberBasicCard-body, .memberBasicCard-body ul li {


list-style: none;
 font-size: 20px;


}

.memberBasicCard-body h4 {
    padding-top: 20px;
    text-align: center;
}

.memberPremCard-body, .memberPremCard-body ul li {


list-style: none;
 font-size: 20px;


}

.memberPremCard-body h4 {
        padding-top: 20px;
        text-align: center;
}

.memberTitanCard-body, .memberTitanCard-body ul li {



 font-size: 20px;
 list-style: none;


}

.memberTitanCard-body h4 {
padding-top: 20px;
text-align: center;
}

#userIcon {
display: flex;
justify-content: right;
align-items: right;
position:relative;
top: 30px;
}

#userIcon2 {
display: flex;
justify-content: right;
align-items: right;
position:relative;
top: -30px;
}